body {background-color:#b0c4de;}


#header{
	background-color: lightblue;
	font-family: verdana;
	width: 100%;
	height: 100px;
	color: white;
	text-shadow: 2px 2px grey;
}

#mainContent{
	background-color: white;
	width: 100%;
	height: 100%;
}
